/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;width: 100%;padding: 0;margin: 0;min-width: 100%;min-height: 100%; overflow-x: hidden;margin: 0;  }
@font-face {
  font-family: 'Intro';
  src: url('assets/Intro.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  overflow: hidden;
}
html{
  overflow: hidden; 
}
.main-wrapper{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.image-container{
  margin: 0;
  padding: 0;
  transform: translateZ(0);
  width: 100%;
  height: 100%;
  position:absolute;
  z-index: -1;
}
.band-image{
  width: 100%;
}
.top-pad{
  height: 50vh;
}

.myroot{
  height: 100vh;
  width: 100%;
  background-color: gray;
  transform: translateZ(-1px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vh;
}
.logo-image{
  width: 50vw;
}
.app-shows{
  width: 100%;
}
.test{
  height: 50vh;
  width: 100%;
}