
<div class="home-nav">
  <nav *ngIf="!showMenu" class="nav-wrap">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="/">HOME</a>
      </li>
      <li class="nav-item">
        <a href="/about">ABOUT</a>
      </li>
      <li class="nav-item">
        <a href="/shop">SHOP</a>
      </li>
      <li class="nav-item">
        <a href="/tour">TOUR</a>
      </li>
      <li class="nav-item">
        <a href="/contact">CONTACT</a>
      </li>
    </ul>
  </nav>
  <div *ngIf="showMenu" class="nav-wrap">
    <button class="btn-primary" mat-button [matMenuTriggerFor]="menu">MENU</button>
    <mat-menu #menu="matMenu">
      <button class="menu-btn" mat-menu-item routerLink="/">HOME</button>
      <button class="menu-btn" mat-menu-item routerLink="/about">ABOUT</button>
      <button class="menu-btn" mat-menu-item routerLink="/shop">SHOP</button>
      <button class="menu-btn" mat-menu-item routerLink="/tour">TOUR</button>
      <button class="menu-btn" mat-menu-item routerLink="/contact">CONTACT</button>
    </mat-menu>
  </div>


</div>

